/*colors*/
$admin-teacher-bg-color: #f3f3f3;
$panel-background-color: #fbfbfb;
$main-dark-text-color: #212121;
$active-color: #e13535;
$active-hover-color: #c52c2c;
$orange-color: #FFB703;
$teacher-name-color: #202939;
$border-dashed-color: #70707030;
$course-detail-color: #AEAEAE;
$green-color: #06D6A0;
$green-hover-color: #0ba87e;
$blue-color: #0050BC;
$blue-hover-color: #043d88;
$input-text-color: #8F96A2;
$table-header-color: #6D7682;
$lilac-color: #C77DFF;
$lilac-hover-color: #ae6de0;

/*font-weights*/
$font-weight-medium: 400;
$font-weight-regular: 300;
$font-weight-light: 200;
$font-weight-bold: 600;


/*font-sizes desktop*/
$font-size-1: 22px; /*= 26 in design*/
$font-size-2: 17px; /*= 21 in design*/
$font-size-3: 15px; /*= 19 in design*/
$font-size-4: 13px; /*=15 in design*/
$font-size-5: 10px; /*=10 in design*/

/*font-sizes mobile*/
$font-size-1-mobile: 18px;
$font-size-2-mobile: 15px;
$font-size-3-mobile: 13px;
$font-size-4-mobile: 11px;


/*padding*/
$teacher-panel-padding : 12px 0 25px;
$panel-content-item-padding: 15px 25px;

/*responsive sizes*/
$big-mobile-responsive: 768px;
$laptop-responsive: 992px;
$mobile-responsive: 480px;

/*shadow*/
$item-box-shadow: -3px 0 18px rgba(0,0,0,.08);
