@import './floated-list';
.school-header {
    width: 100%;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #ECECEC;
    column-gap: 10px;

    .logo-container .logo-img {
        margin-left: 16px;
        width: 70px;
    }

    .hamburger-button {
        display: none;
        direction: ltr;
        border: 0;
        height: 42px;
        border-radius: 5px;
        background-color: #f8f8f8;
        padding: 12px 8px 10px;
        cursor: pointer;
        transition: .3s linear;

        &:hover {
            .hamburger-line {
                background-color: $active-color;
            }
        }

        .hamburger-line {
            transition: all .3s linear;
            display: block;
            width: 24px;
            height: 2px;
            background-color: #747474;

        }

        .hamburger-line+.hamburger-line {
            margin-top: 6px;
        }

        .hamburger-line:nth-child(2) {
            width: 21px;
        }

        .hamburger-line:nth-child(3) {
            width: 19px;
        }
    }

    .navigation-overlay {
        position: fixed;
        background-color: #00000085;
        inset: 0;
        cursor: pointer;
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
    }


    #school-header-checkbox {
        display: none;

        &:checked {
            &+nav {
                transform: translate(0);
                width: 200px;
            }

            &~.navigation-overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    nav {
        margin-left: 20px;

        transition: all .3s ease;

        ul {
            list-style-type: none;
            display: flex;
            column-gap: 17px;
            align-items: center;

            li:hover {
                a {
                    color: $active-color;
                }
            }

            li>a {
                font-size: $font-size-2;
                color: $main-dark-text-color;
                font-weight: $font-weight-regular;
                transition: color .3s ease;
                display: inline-block;
                width: max-content;
                padding: 13px 0;

            }
        }
    }

    .search-box {
        width: 40%;
        min-width: 250px;
        height: 42px;
        flex-grow: 1;
        position: relative;

        input {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #F8F8F8;
            border: 0;
            font-weight: $font-weight-light;
            padding-right: 100px;
            padding-left: 35px;

            &::placeholder {
                font-weight: $font-weight-light;
                color: #AEAEAE;
            }

            &:focus {
                outline-color: $active-color;
            }
        }

        &>.search-btn {
            position: absolute;
            left: 10px;
            top: 10px;
            cursor: pointer;
            background-color: transparent;
            border: 0;

            img {
                width: 20px;
            }
        }

        .courses-btn {
            position: absolute;
            cursor: pointer;
            font-weight: $font-weight-light;
            right: 14px;
            top: 8px;
            padding-left: 8px;
            border-left: 1px solid #aeaeaed3;

            &:hover {
                color: $active-color;

                svg path {
                    stroke: $active-color;
                }
            }

            &>svg {
                margin-right: 4px;
            }


        }

        .courses-btn.show {
            color: $active-color;

            svg path {
                stroke: $active-color;
            }
        }
    }

    .tools {
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 3px;

        .signin-signup,
        .cart {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            padding: 2px;
            font-size: $font-size-2-mobile;
            color: $main-dark-text-color;
            font-weight: $font-weight-regular;
            position: relative;
            cursor: pointer;
            transition: all .3s linear;

            svg path {
                transition: .3s linear;
            }
        }

        .cart {
            margin-left: 5px;

            &:hover {
                path {
                    fill: $active-color;
                }
            }
        }

        .cart.non-empty::after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $green-color;
            position: absolute;
            top: 5px;
            right: -.5px;
        }

        .cart svg {
            width: 17.5px;
        }

        .signin-signup {
            span {
                width: max-content
            }

            &:hover {
                color: $active-color;

                svg path {
                    fill: $active-color;
                }
            }

            svg {
                width: 18.6px;
                margin-left: 3px;

            }
        }

    }

}

.school-header .courses-header-link {
    .alternate-header {
        display: none;
        cursor: pointer;
        transition:  .3s ease;
        &:hover {
            color: $main-dark-text-color;
            &::after {
                color: $main-dark-text-color;
            }
        }
    }

    &.show {

        .category {
            opacity: 1;
            visibility: visible;
        }
    }
}

.school-header-container {
    background-color: #fff;
    top: 0;
    z-index: 4;
    position: sticky;
}

@media screen and (max-width: $laptop-responsive) {
    .school-header {


        nav {
            position: fixed;
            top: 0;
            z-index: 6;
            transform: translateX(110%);
            right: 0;
            padding: 10px 0;
            background-color: #e13535;
            box-shadow: -3px 0 8px rgba(0, 0, 0, .22);
            height: 100vh;
            overflow: auto;

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                li>a,
                li>.alternate-header {
                    color: #fff;
                    padding: 2px 0;

                }

                li {
                    width: 100%;
                    padding: 6px 22px;


                    &:hover {
                        a {
                            color: $main-dark-text-color;
                        }
                    }
                }

                li+li {
                    margin: 0;
                    border-top: 2px solid #d31b1b
                }

            }
        }
    }

    .school-header .courses-header-link {
        &>a {
            display: none;
        }

        .alternate-header {
            display: inline-block;
            color: #fff;
            position: relative;
            width: 100%;

            &::after {
                content: "\2039";
                position: absolute;
                left: 0;
                font-weight: 300;
                font-size: 26px;
                top: 50%;
                color: #fff;
                transition: .3s ease;
                transform: translateY(-50%) rotate(.25turn);
            }
        }

        .alternate-header.show {
            &::after {
                transform: translateY(-50%) rotate(-.25turn);

            }
        }
    }

    .school-header .courses-header-link.expanded {
        &::after {
            transform: translateY(-50%) rotate(-.25turn);

        }
    }
}

@media screen and (max-width: $big-mobile-responsive) {
    .school-header.active-searchBox {

        .signin-signup,
        .cart {
            margin-left: calc(-155px);

        }

        .search-box {
            flex-grow: 1;
            overflow: visible;

            .courses-btn {
                display: block;
            }
        }

        .hamburger-button {
            margin-right: -45px;
            visibility: hidden;
        }
    }
}


@media screen and (max-width: $mobile-responsive) {
    .school-header {
        column-gap: 6px;

        .search-box {
            min-width: 41px;
            width: 41px;
            flex-grow: 0;
            margin-right: auto;
            overflow: hidden;
            border-radius: 4px;

            input {
                padding-right: 90px;
            }

            &>.search-btn {
                top: 12px;

                img {
                    width: 18px;
                }
            }

            .courses-btn {
                font-size: $font-size-3;
                right: 12px;
                padding-left: 7px;
                display: none;

            }


        }


        nav {

            ul {

                li {
                    padding: 5px 18px
                }

                a {
                    font-size: $font-size-3;
                }
            }
        }
    }
}