.panel-table {
    position: relative;

    .box-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 3px;
        margin: 7px 0;

        span {
            color: $green-color;
        }

        h3 {
            font-weight: $font-weight-medium;
            font-size: $font-size-1;
        }
    }

    .box-content {
        background-color:#fff;
        box-shadow: $item-box-shadow;
        border-radius: 10px;
        padding-bottom: 90px;
        max-height: 615px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-flow: row wrap;
        row-gap: 13px;
        .table-row {
            padding: 0 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 13px;
            cursor: pointer;
            width: 100%;

            &:hover span {
                color: $active-color;
            }

            span {
                width: 25%;
                min-width: 105px;
            }
            span.course-owner {
                min-width: 150px;
            }
            & >span {
                text-align: center;
            }
            & >span:last-child{
                text-align: left;
            }
            & >span:first-child{
                text-align: right;
            }
            .btn {
                border: 0;
                font-size: $font-size-3;
                background-color: transparent;
                transition: color .3s linear;
                cursor: pointer;

                &.delete {
                    color: $active-color;
                }

                &.edit {
                    color: $orange-color;
                }

                &:hover {
                    color: #6D7682;
                }
            }
        }



        .table-row.table-header {
            padding: 22px 35px;
            position: sticky;
            border: 0 !important;
            top: 0;
            right: 0;
            min-width: max-content;
            margin: 0;
            box-shadow: 0 3px 8px rgba(0, 0, 0, .08);
            background-color: $admin-teacher-bg-color;

            span {
                color: $table-header-color;
            }
        }

        footer {
            padding: 15px 0;
            position: absolute;
            width: 100%;
            left: 0;
            background-color: #fff;
            bottom: 5px;
            text-align: center;
            border-radius: 0 0 10px 10px;

            a {
                color: $active-color;
                font-weight: $font-weight-medium;
                font-size: $font-size-2;
            }

            hr {
                width: 80%;
                margin: -6px auto 15px;
                border: 0;
                height: 1px;
                background-color: #70707030
            }
        }
    }

    span {
        font-size: $font-size-2;
        font-weight: $font-weight-regular;
        color: $main-dark-text-color;
        transition: all .3s linear;
    }




}

.panel-table.my-courses {
    .table-row {
        padding: 20px 35px 5px;

        .course-name {
            width: 100%;
            font-size: $font-size-3;
            color: $main-dark-text-color;
            font-weight: $font-weight-regular;
            margin-bottom: 6px;
            min-width: 80px;
            display: inline-block;
        }

        .course-name-content,
        .course-name-heading {
            margin-left: 4vw;
            width: 36%;
            min-width: 115px;
        }

        .course-detail {
            @include custom-line-clamp(2);
            color: $course-detail-color;
            font-size: $font-size-4;
            width: 100%;
            font-weight: $font-weight-light
        }
        span {
            min-width: 105px;
        }
 
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 8px;
        }

    }

    .table-row:not(.table-row.table-header)+.table-row {
        border-top: 1px solid #70707030;
        // width: max-content;
    }
}

@media screen and (max-width: $mobile-responsive) {
    .panel-table {
        .box-header {
            h3 {
                font-size: $font-size-2-mobile;
            }
        }

        .box-content {
            padding-bottom: 67px;
            .table-row {
                padding: 0 15px;

                span.course-owner {
                    min-width: 120px;
                }
                .btn {
                    font-size: $font-size-3-mobile;
                }

            }

            .table-row.table-header {
                padding: 15px 15px;
            }
        }

        span {
            font-size: $font-size-3-mobile;
        }

    }

    .panel-table.my-courses {
        .box-content {
            .table-row:not(.table-row.table-header) {
                padding: 10px 15px 3px;
            }


            footer {
                a {
                    font-size: $font-size-2-mobile;
                }

            }
        }
    }
}