*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}
a {
    text-decoration: none;
}
input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
    }
}
input[type=number] {
    // for remove inner/outer spin for input[type='number'] in firefox browser
    -moz-appearance:textfield;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}