.panel-student-content-item.download-course {
    .course-links{
        margin: 16px auto;
        display: flex;
        width: fit-content;
        flex-flow: column nowrap;
        row-gap: 15px;
        .course-link {
            font-size: $font-size-2;
            color: $blue-color;
            &:hover {
                color: $blue-hover-color;
            }
        }
    }
}
@media screen and (max-width: $mobile-responsive) {
    .panel-student-content-item.download-course {
        .course-links{
            margin: 10px auto;
            row-gap: 10px;
    
            .course-link {
                font-size: $font-size-2-mobile;
            }
        }
    }
}