.panel-student-content-item {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px 35px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.08);

    .section-header {
        text-align: center;
        width: 100%;
        font-size: $font-size-1;
        color: $lilac-color;;
        margin-bottom: 10px;
    }

    .section-title {
        margin: 27px 0 17px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        svg.dashed-line {
            width: 100%;

            line {
                stroke: #AEAEAE70;
                stroke-width: 1;
                opacity: .3;
            }
        }

        .section-title-text {
            font-size: $font-size-1;
            position: relative;
            top: -24px;
            background-color: #fff;
            width: fit-content;
            padding: 0 5px;
            font-weight: $font-weight-medium;
            color: $main-dark-text-color;
        }
    }
    
        form {
            input:focus {
                outline-color: $lilac-color;
            }
    
            .cover-btn {
                color: $lilac-color;
    
                &:hover {
                    color: $lilac-hover-color;
                }
            }
    
            .form-btn {
                background-color: $lilac-color;
    
                &:hover {
                    border-color: $lilac-color;
                    color: $lilac-color;
                    background-color: transparent;
                }
            }
        }
    


}
@media screen and (max-width: $mobile-responsive) {
    .panel-student-content-item {
        padding: 23px 20px;

        .section-header {
            font-size: $font-size-2-mobile;
            margin-bottom: 20px;
        }

        .section-title {
            .section-title-text {
                font-size: $font-size-2-mobile;
                top: -19px
            }
        }
    }
}
