body {
    direction: rtl;
    font-family: iSans, sans-serif, serif;
    background-color: #fff;

    button {
        font-family: iSans, sans-serif, serif;
    }

    input,
    textarea,
    .persian-number {
        font-family: IranSansX, iSans, sans-serif, serif !important;
    }

}